@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rowdies&display=swap");
@import "tailwindcss";
@import "./_global.css";

/* ✅ Apply globally using raw CSS (not @apply) */
body {
  font-family: var(--font-body);
  /* font-size: 16px; */
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  font-weight: 100;
  color: var(--color-fg-white)
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.625rem;
}

p {
  color: var(--color-fg-white)
}

/* AREA: NAV */
header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &.nav-stick {
    background-color: rgba(26, 26, 30, .8);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


/* AREA: SECTION */
section {
  background-color: var(--color-bg-black);
}

.wysiwyg {
  p {
    margin-bottom: 1rem;
  }
}

.section-title {
  padding: 2rem 0;
  position: relative;
  margin-bottom: 1rem;

  h2 {
    position: relative;
    z-index: 1;
  }

  span {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 10rem;
    color: var(--color-fg-dark);
    letter-spacing: 15px;
    white-space: nowrap;
    display: block;
    position: absolute;
    top: 50%;
  }

  &.align-left span {
    left: 0;
    transform: translate(-5%, -50%);
  }

  &.align-center {
    text-align: center;

    span {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.align-right {
    text-align: right;

    span {
      right: 0;
      transform: translate(5%, -50%);
    }
  }
}

/* AREA: PROJECT */
.proj-item {
  overflow: hidden;
}

.proj-content {
  background-color: var(--color-bg-gray);
}

.proj-date {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--color-fg-sub)
}

.proj-name {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-fg-white);
}

/* AREA: TEAM */
.team-content {
  background-color: rgba(26, 26, 30, .8);
  padding: 1rem;
  position: absolute;
  width: 75%;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.team-name {
  background-color: rgba(255, 255, 255, .8);
  padding: .5rem;
  color: var(--color-fg-dark);
  display: inline-block;
}

.team-role {
  padding-left: .5rem;
  color: var(--color-fg-white);
  font-size: .875rem;
  text-transform: uppercase;
  transform: translateY(30%);
  display: inline-block;

}

.team-item .wysiwyg p {
  margin-bottom: .25rem;
}