@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rowdies&display=swap");
@import "tailwindcss";
@import "./_global.css";

/* ✅ Apply globally using raw CSS (not @apply) */
body {
  font-family: var(--font-body);
  /* font-size: 16px; */
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  font-weight: 100;
  color: var(--color-fg-white)
}

h2 {
  font-size: 2.25rem;
}

p {
  color: var(--color-fg-white)
}

/* SECTION CONFIG */
section {
  background-color: var(--color-bg-black);
}

/* SECTION CONFIG */
.proj-content {
  background-color: var(--color-bg-gray);
}